# Auto detect text files and perform LF normalization
* text=auto
/visual-builer/node_modules/
.claude/ export-ignore
.vscode export-ignore
.git export-ignore
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
LICENSE export-ignore
CHANGELOG.md export-ignore
.wordpress-org export-ignore
.distignore    export-ignore