body.rsfe-grab-pointer,
body.rsfe-grab-pointer * {
  cursor: grab !important;
}

body.et-fb div.et_pb_contact_field:not([data-type="range"]) span.irs {
  display: none;
}

div.et_pb_contact_field[data-type="range"] .irs .irs-line,
div.et_pb_contact_field[data-type="range"] .irs .irs-min,
div.et_pb_contact_field[data-type="range"] .irs .irs-max {
  background-color: var(--rsfe-inactive-color);
}

div.et_pb_contact_field[data-type="range"] .irs{
  position: relative;
}

div.et_pb_contact_field[data-type="range"] .irs-grid,
div.et_pb_contact_field[data-type="range"] .irs-bar,
div.et_pb_contact_field[data-type="range"] .irs-shadow,
div.et_pb_contact_field[data-type="range"] .irs-handle,
div.et_pb_contact_field[data-type="range"] .irs-single,
div.et_pb_contact_field[data-type="range"] .irs-from,
div.et_pb_contact_field[data-type="range"] .irs-to{
  position: absolute;
}

div.et_pb_contact_field[data-type="range"] {
  --rsfe-skin-color: #3e3ff0;
  --rsfe-inactive-color: #f1f1fe;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin {
  --rsfe-skin-color: #3e3ff0;
}

div.et_pb_contact_field[data-type="range"].rsfe-round-skin {
  --rsfe-skin-color: #006cfa;
}

div.et_pb_contact_field[data-type="range"].rsfe-flat-skin {
  --rsfe-skin-color: #ed5565;
}

div.et_pb_contact_field[data-type="range"].rsfe-square-skin {
  --rsfe-skin-color: #000;
}

div.et_pb_contact_field[data-type="range"] .irs {
  width: 100%;
}

:hover span.irs-handle.single {
  cursor: grab;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs-handle {
  border: 0px;
  transition: box-shadow 200ms ease-in-out;
  z-index: 1;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs-handle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  height: 0%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin.rsfe-active .irs-handle::before,
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs-handle:hover::before {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px var(--rsfe-skin-color);
}

.elementordiv.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs-bar {
  background-color: #1e1e8f;
}

div.et_pb_contact_field[data-type="range"] .irs-single {
  white-space: pre;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin span.irs-single{
  display: none;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin span.irs-input-span{
  width:100%;
  position:relative;
  z-index:9;
}
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin span.irs-input-span input{
  max-width: fit-content;
  position:absolute;
  right: 0px;
  width: 5%;
  gap: 10px;
  height: 18px;
  background-color: var(--rsfe-inactive-color);
  box-shadow: 0px 9px 13px -8px rgba(16.74232125548108, 7.227864883256992, 56.737500000000004, 0.42);
  border: unset !important;
  color: var(--rsfe-skin-color);
  padding: 15px;
  margin: 5px;
  font-weight: 500;
  border-radius: 3px !important;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs-single::before,
div.et_pb_contact_field[data-type="range"] .irs--round .irs-single::before,
div.et_pb_contact_field[data-type="range"] .irs--flat .irs-single::before {
  content: unset;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin span.irs.irs--round {
  height: 140px;
}
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin span.irs .irs {
  height: 100%;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-line,
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-bar {
  top: 77px;
  background-color: var(--rsfe-inactive-color);
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-handle {
  top: 67px;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-min,
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-max {
  top: unset;
  bottom: 10px;
  visibility: visible !important;
  padding: 10px;
}

div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-min,
div.et_pb_contact_field[data-type="range"].rsfe-custom-skin .irs--round .irs-max {
  background-color: white !important;
  font-weight: 500px !important;
}

div.et_pb_contact_field[data-type="range"]:not(
    .rsfe-flat-skin,
    .rsfe-square-skin,
    .rsfe-round-skin,
    .rsfe-modern-skin
  )
  .irs .irs-handle,
div.et_pb_contact_field[data-type="range"].rsfe-flat-skin .irs-handle i:first-child,
div.et_pb_contact_field[data-type="range"]:where(
    .rsfe-flat-skin,
    .rsfe-square-skin,
    .rsfe-round-skin,
    .rsfe-modern-skin
  )
  .irs .irs-bar--single,
div.et_pb_contact_field[data-type="range"]:where(
    .rsfe-flat-skin,
    .rsfe-square-skin,
    .rsfe-round-skin,
    .rsfe-modern-skin
  )
  .irs .irs-single,

  .irs .irs-bar--single,
div.et_pb_contact_field[data-type="range"]:where(
    .rsfe-flat-skin,
    .rsfe-square-skin,
    .rsfe-round-skin,
    .rsfe-modern-skin
  )
  .irs .irs-bar{
  background-color: var(--rsfe-skin-color);
}

div.et_pb_contact_field[data-type="range"].rsfe-sharp-skin .irs .irs-single,
div.et_pb_contact_field[data-type="range"].rsfe-sharp-skin .irs .irs-bar{
  background-color:var(--rsfe-skin-color);
}

div.et_pb_contact_field[data-type="range"].rsfe-sharp-skin .irs .irs-handle > i:first-child,
div.et_pb_contact_field[data-type="range"].rsfe-sharp-skin .irs .irs-single::before{
  border-top-color: var(--rsfe-skin-color); 
}

div.et_pb_contact_field[data-type="range"].rsfe-big-skin .irs .irs-bar,
div.et_pb_contact_field[data-type="range"].rsfe-big-skin .irs .irs-from,
div.et_pb_contact_field[data-type="range"].rsfe-big-skin .irs .irs-to,
div.et_pb_contact_field[data-type="range"].rsfe-big-skin .irs .irs-single{
  background:var(--rsfe-skin-color);
}
div.et_pb_contact_field[data-type="range"].rsfe-big-skin .irs .irs-line{
  background:var(--rsfe-inactive-color);
}

div.et_pb_contact_field[data-type="range"]:where(
    .rsfe-modern-skin
  )
  .irs .irs-bar{
  background: var(--rsfe-skin-color);
}

div.et_pb_contact_field[data-type="range"].rsfe-rangetype-double:where(
  .rsfe-custom-skin,
  .rsfe-flat-skin,
  .rsfe-square-skin,
  .rsfe-round-skin,
  .rsfe-modern-skin,
  .rsfe-sharp-skin
)
.irs .irs-from,
div.et_pb_contact_field[data-type="range"].rsfe-rangetype-double:where(
  .rsfe-custom-skin,
  .rsfe-flat-skin,
  .rsfe-square-skin,
  .rsfe-round-skin,
  .rsfe-modern-skin,
  .rsfe-sharp-skin
)
.irs .irs-to{
  background-color: var(--rsfe-skin-color);
}

div.et_pb_contact_field[data-type="range"].rsfe-rangetype-double:where(
  .rsfe-custom-skin,
  .rsfe-flat-skin,
  .rsfe-square-skin,
  .rsfe-round-skin,
  .rsfe-modern-skin,
  .rsfe-sharp-skin
)
.irs .irs-from::before,
div.et_pb_contact_field[data-type="range"].rsfe-rangetype-double:where(
  .rsfe-custom-skin,
  .rsfe-flat-skin,
  .rsfe-square-skin,
  .rsfe-round-skin,
  .rsfe-modern-skin,
  .rsfe-sharp-skin
)
.irs .irs-to::before{
  border-top-color: var(--rsfe-skin-color);
}

div.et_pb_contact_field[data-type="range"]:where(.rsfe-square-skin, .rsfe-round-skin)
  .irs .irs-handle {
  border-color: var(--rsfe-skin-color);
}
